pkg/cmd/api/spec/api.swagger.json linguist-generated=true
pkg/cmd/api/spec/static.go linguist-generated=true
pkg/client/* linguist-generated=true
config/crds/* linguist-generated=true
config/rbac/* linguist-generated=true
zz_generated.deepcopy.go linguist-generated=true
docs/ai-native/** text eol=lf
docs/release/** text eol=lf
hack/ai-native/*.sh text eol=lf
hack/ai-native/*.ps1 text eol=crlf
hack/release/*.sh text eol=lf
.github/workflows/*.yml text eol=lf
